.goods_banner{
    display: flex;
    justify-content: center;
    height: 296px;
    &__item {
        width: 50%;
    }
    .optical_banner_item1{
        background: url('../images/product-header-1.png') no-repeat center/cover;
        @include pad{
            background: url('../images/product-header-sm-1.png') no-repeat left 50% top 100%/cover;
        }
    }
    .optical_banner_item2{
        background: url('../images/product-header-2.png') no-repeat center/cover;
        @include pad{
            background: url('../images/product-header-sm-2.png') no-repeat left 50% top 100%/cover;
        }
    }
    
    .sunglasses_banner_item1{
        background: url('../images/product-header-3.png') no-repeat center/cover;
        @include pad{
            background: url('../images/product-header-sm-3.png') no-repeat left 50% top 100%/cover;
        }
    }
    .sunglasses_banner_item2{
        background: url('../images/product-header-4.png') no-repeat center/cover;
        @include pad{
            background: url('../images/product-header-sm-4.png') no-repeat left 50% top 100%/cover;
        }
    }
}

.goods {
    &__heading {
        text-align: center;
        margin-bottom: 32px;
        @include mobile {
            margin-bottom: 24px;
        }
        &_e {
            font-weight: 500;
            font-size: 42px;
            @include mobile {
                font-size: 24px;
            }
        }
        &_c {
            font-size: 32px;
            @include mobile {
                font-size: 24px;
            }
        }
    }
}
.goods_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px 24px;
    @include pad {
        row-gap: 40px;
    }
    @include mobile {
        row-gap: 24px;
    }
    
    .optical_list__item{        
        width: 23%;
    }
    
    .sunglasses_list__item{        
        width: 31.6%;
    }

    .goods_list__item{
        @include pad {
            width: 47.8%;
        }
        @include mobile {
            width: 100%;
        }
    }
    
    .goods_pic{
        height: 168px;
        width: 100%;
    }   
    &__text {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        &_price {
            color: $red;
            font-weight: 500;            
        }
    }
    &__goods_color {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 8px;
        .goods_color__block {
            display: block;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            &:hover {
                opacity: 0.8;
            }
        }
        .goods_color1 {
            background: #5f3e2d;
        }
        .goods_color2 {
            background: #b75929;
        }
    }
}
