.page_link{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    @include mobile{
        padding-bottom: 64px;
    }
    li{
        border: 1px solid #555555;
        border-right: none;
        &:last-child{
            border-right: 1px solid #555555;
            background: #F2F2F2;
        }        
    }
    
    &__item{
        display: block;
        text-align: center;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
    
    &__switch{
        font-size: 19px;
        width: 81px;
        line-height: 48px;  
        @include mobile{
            font-size: 16px;
            max-width: 75px;
            width: 20vw;
            line-height: 45px;
        }  
    }
    &__num{
        font-size: 18px;
        width: 42px;
        line-height: 48px;
        @include mobile{
            font-size: 16px;
            max-width: 40px;
            width: 10.67vw;
            line-height: 45px;
        }
    }
}